.progress {
  margin: 0;
}

.progress-bar {
  background: rgb(var(--selected-palette));
  border-radius: 0.2rem;
  border-radius: 0.2rem;
}

.progress {
  border-radius: 0.2rem;
  background: #e2e2e2;
}
