.page-content {
    padding: 0;
  }
  
  .login-card {
    box-shadow: 0 0.187rem 1.25rem #87774f14;
    border: 0.0625rem #e6e6e6;
    background: #ffffff;
    border-radius: 0.5rem;
    text-align: center;
    padding: 3rem 2rem;
    flex-basis: 100%;
    margin: 0 1rem;
  }
  
  .login-card > img {
    width: 4rem;
  }
  
  .login-card > p {
    margin: 1rem 0 0;
    color: #171717;
    font-size: 1rem;
  }
  
  .login-card:hover {
    box-shadow: 0 0.187rem 1.25rem #87774f61;
    transform: scale(1.01);
    transition: all 250ms;
    cursor: pointer;
  }
  
  .page-content {
    position: relative;
  }
  
  footer.landing-footer {
    background: #16151e;
    text-align: center;
    position: absolute;
    font-size: 0.5rem;
    color: #8e8aac;
    padding: 0.5em;
    width: 100%;
    bottom: 0;
    left: 0;
  }
  
  .page-content {
    padding: 0;
  }
  
  .login-card {
    box-shadow: 0 0.187rem 1.25rem #87774f14;
    border: 0.0625rem #e6e6e6;
    background: #ffffff;
    border-radius: 0.5rem;
    text-align: center;
    padding: 3rem 2rem;
    flex-basis: 100%;
    margin: 0 1rem;
  }
  
  .login-card > img {
    width: 4rem;
  }
  
  .login-card > p {
    margin: 1rem 0 0;
    color: #171717;
    font-size: 1rem;
  }
  
  .login-card:hover {
    box-shadow: 0 0.187rem 1.25rem #87774f61;
    transform: scale(1.01);
    transition: all 250ms;
    cursor: pointer;
  }
  
  .page-content {
    position: relative;
  }
  
  footer.landing-footer {
    background: #16151e;
    text-align: center;
    position: absolute;
    font-size: 0.5rem;
    color: #8e8aac;
    padding: 0.5em;
    width: 100%;
    bottom: 0;
    left: 0;
  }
  